//Color
$primary: #FF7D00;
$secondary: #518FB4;
$tertiary: #0a6172;
$black: #292D32;
$gray: #828282;
$lightGray: #efefef;
$darkGray: #666666;
$orange: #FCC587;
$yellow: #FED843;
$red: #EB5757;